{% extends "layout.html" %} {% block content %}
<div class="offset-md-0 col-sm-8 mt-5">
	<input type ="text" id="livebox" size="30" placeholder="Type in your sentence here"> 
	<script>
		$(document).ready(function(){
			$("#livebox").on("input",function(e){
				$.ajax({
					method:"post",
					url:"/livesearch",
					data:{text:$("#livebox").val()},
					success: function(response) {
						//console.log(response)
						//TODO: now write a loop with JS like is done in jinjas to make it async
						const responseJson = JSON.parse(response);
						document.getElementById("result").innerHTML = "";
						for (var quote of Object.values(responseJson)) {
							if (quote['quote']) {
								var node = document.createElement("span");
								//'Rating: ' + quote['rating'] + ' ' + 'Sentiment: ' + JSON.stringify(quote['sentiment']) + " " + 'Entities: ' + quote['entities']
								node.innerHTML = ('<div class="col"><div class="card"><div class="card-header bg-primary text-white">Quote</div><div class="card-body"><blockquote class="blockquote mb-0"><p>' + quote['quote'] + '</p><footer class="blockquote-footer">' + quote['author'] + '<cite title="Source Title">, Sentiment-Rating: ' + quote['rating'] + ' ' +  '</cite></footer></blockquote></div></div><br>');
								document.getElementById("result").appendChild(node);
							}
						}
					}
				});
			});
		});
	</script>
</div><br>
<!--Quote Reddit API-->
<div class="row mb-2">
<div class="col-md-6">
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<strong><a href="https://www.reddit.com/r/quoteporn/">Reddit</a></strong>
		<h3>Quote</h3>
		<p>{{reddit}}</p>
		<a href="">Reddit</a>
	</div>
</div>

<!--Quote Twitter API-->
<div class="col-md-6">
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<h3>Quote</h3>
		<p>Quote</p>
		<a href="">Reddit</a>
	</div>
</div>
</div>

<div class="mt-5" id="result">
	<h2>Quotes will appear here.</h2><br>
	<h3>Type in your sentence, according to your mood in the input above</h3>
</div>
<!-- Not needed anymore, won't be a livesearch 
{% if response %}
<div class="mt-5" id="result">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for record in response%}
		<div class="col">
			<div class="card">
				<div class="card-header bg-primary text-white">Quote</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>
							{{record['quote']}}
						</p>
						<footer class="blockquote-footer">
							{{record['author']}}
							<cite title="Source Title">Source Title</cite>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
-->