<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<input type ="text" id="livebox">
<p id = "datalist"></p>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearch",
                data:{text:$("#livebox").val()},
                success:function(res){
                    document.getElementById("datalist").innerHTML = res;
                    $("#datalist").html(res);
                    console.log(res);
                    }
            });
        });
    });
</script>

</body>
</html> 